install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"

language: generic
sudo: required
dist: bionic
osx_image: xcode11.3

os:
  - linux
  - osx

env:
  - SWIFT_VERSION=5.2.1

script:
  - swift build
  - swift test 